
/* Estilos contenedor título. */
.tittle{
  text-align: center;
}

/* Estilos del título */
.tittle .tittle1{
display: inline-flex;
font-size: 40px;
color: #f3870b;
margin-bottom: 0px;
font-weight: 700;
}

.tittle .tittle2{
display: inline-flex;
font-size: 40px;
color: #0bb1f3;
margin-bottom: 0px;
font-weight: 700;
}

/* Estilos contenedor subtítulos. */
.sub{
  font-style: italic;
  text-align: center;
  font-weight: 300;
}
/* Estilos de los subtítulos */
.sub-1{
display: inline-flex;
font-size: 20px;
color:  #0bb1f3;
margin-bottom: 0px;
}

.sub-2{
display: inline-flex;
font-size: 20px;
color: #f3870b;
margin-bottom: 0px;
}


/* Estilos de input */
.input_registro{
font-size: 15px;
width: 85%;
padding: 10px;
border: none;
font-family: 'Open Sans', sans-serif;
}

.input_registro:hover{
  background: rgba(185, 187, 187, 0.080);
}


/*Estilos select*/

.controls_registro{
font-size: 15px;
width: 70%;
padding: 5px;
border: none;
background: none;
color: #828385;
font-family: 'Open Sans', sans-serif;
}

.controls_registro_edit{
  font-size: 15px;
  width: 80%;
  padding: 5px;
  border: none;
  background: none;
  color: #828385;
  font-family: 'Open Sans', sans-serif;
  }


/* Estilos fieldset */
.fieldset-user{
margin-bottom: 15px;
padding: 10px;
border: 2px solid #14569983;
border-radius: 10px;
/* height: 70px; */
} 


.legend-principal{
  font-size: 20px;
  font-weight: 500;
  color: #042342;
  text-align: left;
}

/* Estilos fieldset secundario */
.second{
  border: 1px solid #6a6d7083;
  font-size: 14px;
  text-align: left;
}

/* Estilos contenedores de los input */
.input_registro-contenedor{
  margin-bottom: 15px;
  border: 2px solid  #a1a4a586;
  border-radius: 5px;
}



.input_registro-contenedor:hover{
  border: 2px solid  #0c6b8b86;
  background: rgba(185, 187, 187, 0.2);
}
.active{
  border: 2px solid  #e95d5d;
}

.required_row::after{
  content: "*";
  position: absolute;
  left: 20%;
  padding-top: 2.5%;
  color: rgb(251, 67, 67);
  font-size: 25px;
}

.required_row--active::after{
  content: "*";
  position: absolute;
  left: 22%;
  padding-top: 2%;
  color: rgb(251, 67, 67);
  font-size: 25px;
}
/* Estilos íconos formularios */
.icon-form{
min-width: 50px;
font-size: 18px;
text-align: center;
color: #999;
}


